#navbar {
    display: flex;
    justify-content: space-evenly;
    background: #333;
    padding: 30px 0;
    align-items: center;
    margin-bottom: 50px;
    color: #fff;
    font-size: 22px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

#navbar a:hover {
    color: #ccc;
}